[language-server.gopls.config]
"formatting.gofumpt" = true

[[language]]
name = "json"
auto-format = false

[[language]]
name = "yaml"
auto-format = false

[[language]]
name = "html"
auto-format = false
